[submodule "dependencies/libpng/src"]
	path = dependencies/libpng/src
	url = https://github.com/glennrp/libpng.git
	shallow = true
[submodule "dependencies/zlib/src"]
	path = dependencies/zlib/src
	url = https://github.com/madler/zlib.git
	shallow = true
[submodule "dependencies/glfw/src"]
	path = dependencies/glfw/src
	url = https://github.com/glfw/glfw.git
	shallow = true
