[submodule "dependencies/glfw/src"]
	path = dependencies/glfw/src
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/zenity/src"]
	path = dependencies/zenity/src
	url = https://gitea.thebrokenrail.com/minecraft-pi-reborn/zenity.git
[submodule "dependencies/LIEF/src"]
	path = dependencies/LIEF/src
	url = https://github.com/lief-project/LIEF.git
[submodule "media-layer/core/gles/dependencies/gles-compatibility-layer"]
	path = dependencies/gles-compatibility-layer/src
	url = https://gitea.thebrokenrail.com/minecraft-pi-reborn/gles-compatibility-layer.git
[submodule "dependencies/stb_image/include"]
	path = dependencies/stb_image/include
	url = https://github.com/nothings/stb.git
[submodule "dependencies/utf8cpp/src"]
	path = dependencies/utf8cpp/src
	url = https://github.com/nemtrif/utfcpp.git
[submodule "archives"]
	path = archives
	url = https://gitea.thebrokenrail.com/minecraft-pi-reborn/archives.git
