[submodule "dependencies/libpng/src"]
	path = dependencies/libpng/src
	url = https://gitea.thebrokenrail.com/minecraft-pi-reborn/libpng.git
[submodule "dependencies/zlib/src"]
	path = dependencies/libpng/zlib/src
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "dependencies/glfw/src"]
	path = media-layer/core/dependencies/glfw/src
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/zenity/src"]
	path = dependencies/zenity/src
	url = https://gitea.thebrokenrail.com/minecraft-pi-reborn/zenity.git
[submodule "dependencies/LIEF/src"]
	path = dependencies/LIEF/src
	url = https://github.com/lief-project/LIEF.git
[submodule "dependencies/qemu/src"]
	path = dependencies/qemu/src
	url = https://gitlab.com/qemu-project/qemu.git
	ignore = dirty
[submodule "media-layer/core/gles/dependencies/gles-compatibility-layer"]
	path = media-layer/core/gles/dependencies/gles-compatibility-layer/src
	url = https://gitea.thebrokenrail.com/minecraft-pi-reborn/gles-compatibility-layer.git
