[Desktop Entry]
Name=${MCPI_APP_TITLE}
Comment=${MCPI_APP_DESCRIPTION}
Icon=${MCPI_APP_ID}
Exec=${MCPI_APP_NAME}
Type=Application
Categories=Game;
Terminal=false
StartupNotify=false
StartupWMClass=${MCPI_APP_ID}