[Desktop Entry]
Name=Minecraft: Pi Edition: Reborn
Comment=Fun with Blocks
Icon=/usr/share/pixmaps/minecraft-pi-reborn-client.png
StartupNotify=false
StartupWMClass=Minecraft - Pi edition
Exec=/usr/bin/minecraft-pi-reborn-client
Terminal=false
Type=Application
Categories=Application;Game;
